#container-countdown{
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
#countdown{
    font-size: 35px;
    padding: 25px;
    border-radius: 25px;
    border: none;
    background-color:  rgba(229, 242, 153, 0.7); 
    text-transform: uppercase;
    color:#735F32;
    text-shadow: 0.3mm 0.9mm rgb(168, 167, 162);
}
#countdown:hover{
    background: linear-gradient(to right yellow,white,orange);
}

#myVideo{
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
}
#myButton{
    display: none;
}

#cloud{
    display: flex;
    justify-content: center;
    background-color: rgba(238, 191, 70, 0.5);
    padding:40px;
    margin-top: 150px;
    border-radius: 70px;
    margin-left: 500px;
    margin-right: 500px;
   
}
@media all and (max-width:500px){
    #myButton{
        display: none;
        padding:10px;
       margin-left: 15px;
        border-radius: 15px;
        border: #ecebdb ;
        font-family: 'Lobster', cursive;
        color:#735F32;
        background:#FEBE8C;
        text-shadow: 0.3mm 0.4mm rgb(248, 247, 239);
    }

        #cloud{
            justify-content: center;
            margin-right: 10px;
            margin-left: 50px;
        }
 
    
}